<div class="comment-box">
  <div class="vote-box">
    <div class="box">
      <i class="up"></i>
      <i class="down"></i>
    </div>
    <div class="line"></div>
  </div>
  <div class="comment-details">
    <p class="commenter">
      <span class="username"><%= comment.user.user_name %></span>
      <span class="date"><%= time_ago_in_words(comment.created_at) %>
        ago</span>
    </p>
    <p class="body">
      <p><%= comment.body %></p>
    </p>
    <details>
      <summary>
        <div class="permalinks">
          <div class="button -comment">
            <i class="comments -reply"></i>
            <span>Reply</span>
          </div>
          <% if comment.user == current_user %>
            <!-- Modify Delete Comment -->
            <% if !@post.id.nil? %>
              <%= link_to post_comment_path(@post, comment.id), method: 'delete', :class => 'button -index' do %>
              <i class="delete"></i>
              Remove
            <% end %>
            <% end %>
            <% if !comment.comment_id.nil? && @post.id.nil? %>
              <%= link_to comment_path(comment.id), method: 'delete', :class => 'button -index' do %>
              <i class="delete"></i>
              Remove
            <% end %>
          <% end %>

        <% end %>
      </div>
    </summary>
    <% if current_user %>
      <div class="comment-text-area">
        <%= form_with model:[comment, Comment.new], local: true do |f| %>
        <%= f.text_area :body, placeholder: "Add a Reply", :class => 'textarea' %>
        <%= f.hidden_field :comment_id, value: comment.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :post_id, value: @post.id %>
        <%= f.submit "Reply" %>
      <% end %>
    </div>
  <% end %>
</details>
<%= render partial: 'comments/comment', collection: comment.comments %>
</div>
</div>
