
<%= render 'header/header' %>

<div class="posts-container -index">
  <div class="content">
    <% @posts.each do |post| %>
    <div class="post-article -index">
      <div class="vote-box">
        <div class="box">
          <i class="up"></i>
          <div class="count"><%= post.vote_score %></div>
          <i class="down"></i>
        </div>
      </div>
      <div class="post-details">
        <p class="author">Posted by u/<%= post.user.user_name %> <%= time_ago_in_words(post.created_at) %> ago</p>
        <h3 class="title"><%= post.title %></h2>
        <p class="excerpt">
          <% if !post.image.blank? %>
            <img src='<%= post.image %>' width=100% />
          <% end %>

          <%= post.body %>
        </p>
        <div class="permalinks _move-left">
          <%= link_to post_path(post.id), :class => "button -index" do %>
            <i class="comments"></i>
            <%= post.comments.count %>
            <% if post.comments.count == 1 %>
               Comment
            <% else %>
              Comments
            <% end %>
          <% end %>
          <div class="button -index">
            <i class="share"></i>
            Share
          </div>
        </div>
      </div>
    </div>
    <% end %>

  </div>

  <aside class="sidebar-section">
    <section class="widget banner">
      <h3>Home</h3>
      <p>Your personal Anchor frontpage. Come here to check in with your favorite communities.</p>
      <%= link_to 'Create Post', new_post_path, :class => "button" %>
    </section>
  </aside>
</div>
