
<%= render 'header/header' %>

<div class="posts-container -index">
  <div class="content">
    <% @posts.each do |post| %>
    <div class="post-article -index">
      <div class="vote-box">
        <div class="box">


          <!-- Upvote -->
          <% if !current_user.try(:is_up, post)  %>
            <%= form_with scope: :upvotes, local: true, method: :post, :class => 'form', url: post_upvotes_path(post.id) do |f| %>
              <%= f.hidden_field :post, value: post %>
              <%= f.submit '', class: 'up' %>
            <% end %>
          <% end %>
          <% if current_user.try(:is_up, post)  %>
            <%= form_with scope: :upvotes, local: true, method: :delete, :class => 'form', url: post_upvote_path(post.id, current_user.current_vote(post)) do |f| %>
                <%= f.submit '', class: 'up -selected' %>
            <% end %>
          <% end %>

          <div class="count"><%= post.vote_score %></div>

          <!-- Downvote -->
          <% if !current_user.try(:is_down, post) %>
              <%= form_with scope: :downvotes, local: true, method: :post, :class => 'form', url: post_downvotes_path(post.id) do |f| %>
                <%= f.hidden_field :post, value: post %>
                <%= f.submit '', class: 'down' %>
              <% end %>
          <% end %>
          <% if current_user.try(:is_down, post) %>
            <%= form_with scope: :downvotes, local: true, method: :delete, :class => 'form', url: post_downvote_path(post.id, current_user.current_downvote(post)) do |f| %>
                <%= f.submit '', class: 'down -selected' %>
            <% end %>
          <% end %>




        </div>
      </div>
      <div class="post-details">
        <p class="author">Posted by u/<%= post.user.user_name %> <%= time_ago_in_words(post.created_at) %> ago</p>
        <h3 class="title">
          <% if post.link.blank? %>
            <%= post.title %>
          <% else %>
            <%= link_to post.title, post.scrape(post.link).url, target: :_blank %>
          <% end %>
        </h3>
        <div class="excerpt">
          <!-- Image  -->
          <% if !post.image.blank? %>
            <img src='<%= post.image %>' />
          <!-- Link -->
          <% elsif !post.link.blank? %>
            <%= link_to post.scrape(post.link).url, target: :_blank, :class => 'meta-card' do %>
              <div class="image">
                <img src='<%= post.scrape(post.link).images.best %>'/>
              </div>
              <div class="metadata">
                <h3 class="title"><%= post.scrape(post.link).title %></h3>
                <span class="url"><%= post.scrape(post.link).url %></span>
              </div>
            <% end %>
          <% elsif !post.body.blank? %>
            <%= post.body %>
          <% end %>
        </div>
        <div class="permalinks _move-left">
          <%= link_to post_path(post.id), :class => "button -index" do %>
            <i class="comments"></i>
            <%= post.comments.count %>
            <% if post.comments.count == 1 %>
               Comment
            <% else %>
              Comments
            <% end %>
          <% end %>
          <div class="button -index">
            <i class="share"></i>
            Share
          </div>
        </div>
      </div>
    </div>
    <% end %>

  </div>

  <aside class="sidebar-section">
    <section class="widget banner">
      <h3>Home</h3>
      <p>Your personal Anchor frontpage. Come here to check in with your favorite communities.</p>
      <%= link_to 'Create Post', new_post_path, :class => "button" %>
    </section>
  </aside>
</div>
