<%= render 'header/header' %>

<div class="settings-page">
  <header class="header">
    <i class="settings"></i>
    <h3 class="_medium-weight">User Settings</h3>
  </header>
  <!-- if user is admin dont show -->
<% if !current_user.try(:admin?) %>

  <main class="main">
    <h2 class="_medium-weight">Account Settings</h2>
    <h6 class="title">Account Preferences</h6>
    <%= form_with(scope: :user, local: true, url: settings_path, method: :put, :class => "form-fields") do |form| %>
      <div class="input -name">
        <div class="placeholder">first name</div>
        <%= form.text_field :first_name %>
      </div>
      <div class="input -name">
        <div class="placeholder">last name</div>
        <%= form.text_field :last_name%>
      </div>
      <div class="input">
        <div class="placeholder">email</div>
        <%= form.text_field :email%>
      </div>
      <div class="input">
        <div class="placeholder">username</div>
        <%= form.text_field :user_name%>
      </div>
      <div class="input">
        <div class="placeholder">new password</div>
        <%= form.password_field :password %>
      </div>
      <div class="input">
        <div class="placeholder">confirm new password</div>
        <%= form.password_field :password_confirmation %>
      </div>
      <%= form.submit "Save"%>
    <% end %>
  </main>
<% else %>
  <!-- For Admin Viewing -->
  <main class="main">
    <h6 class="title">Account Status</h6>
      <ul class="account-summary-card">
        <li class="list">
          <span class="label">Username:</span>
          <span class="data -grow"><%= @user.user_name %></span>
        </li>
        <li class="list">
          <span class="label">First Name:</span>
          <span class="data -grow"><%= @user.first_name %></span>
        </li>
        <li class="list">
          <span class="label">Last Name:</span>
          <span class="data -grow"><%= @user.last_name %></span>
        </li>
        <li class="list">
          <span class="label">E-Mail:</span>
          <span class="data -grow"><%= @user.email %></span>
        </li>
        <li class="list">
          <span class="label">Admin Status:</span>
          <span class="data"><%= @user.admin %></span>
          <span class="data"><button class="button"><%= link_to("Set as admin", assign_admin_path(@user), :class => "data") %></button></span>

        </li>
      </ul>
  </main>
  <!-- End -->
  <% end %>


</div>
