
<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Posts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.user_name %></td>
        <td><%= user.email %></td>
        <td><% user.posts.each do |post| %>
            <%= post.title %> - <%= post.body %>
        <% end %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

# <%= link_to 'New Post', new_post_path %>
