<header class="nav-header">
  <a href="/" class="logo">
  </a>
  <div class="drop-down filter">
    <button class="menu">
      <i class="icons home"></i>
      <span>Home</span>
      <i class="icons triangle"></i>
    </button>
  </div>
  <div class="search-box">
    <i class="icon"></i>
    <input type="search" class="input" placeholder="Search Anchor" />
  </div>

  <div class="icon-bar -divide -desktop-only">
    <a href="#" class="link"><i class="popular"></i></a>
    <a href="#" class="link"><i class="all"></i></a>
    <a href="#" class="link"><i class="original"></i></a>
    <span class="divider"></span>
  </div>

  <div class="user-tab">
    <% if current_user %>
      <div class="icon-bar">
        <a href="#" class="link"><i class="chat"></i></a>
        <a href="#" class="link"><i class="messages"></i></a>
        <%= link_to new_post_path, :class => "link" do %>
        <i class="create"></i>
        <% end %>
      </div>
      <div tabindex="0" class="drop-down user">
        <button class="menu">
          <div class="avatar"></div>
          <span class="username -desktop-only"><%= current_user.full_name %>
            <% if current_user.try(:admin?)%>
              (admin)
            <% end %>
          </span>
          <i class="icons triangle"></i>
        </button>
        <div class="vertical-nav">
          <a href="#" class="link">
            <i class="icon profile"></i>
            Users
          </a>
          <%= link_to settings_path, :class => "link" do %>
            <i class="icon settings"></i>
            User Settings
          <% end %>
          <%= link_to logout_path, :class => "link" do %>
            <i class="icon logout"></i>
            Log out
          <% end %>
        </div>
      </div>
    <% else %>
        <%= link_to "Log in", login_path, :class => "login", :id => "login" %>
        <%= link_to "Sign Up", signup_path, :class => "signup" %>
    <% end %>
  </div>

</header>
