<%= render 'header/header' %>

<!-- <%= render 'form', post: @post %> -->
<!-- <%= link_to 'Back', posts_path %> -->

<div class="posts-container -show">
  <div class="content">
    <div class="post-article -create-post">
      <div class="tabbed-links">
        <button class="tab -selected" data-name="post"><i class="icon -post"></i>Post</button>
        <button class="tab" data-name="image"><i class="icon -image"></i>Image</button>
        <button class="tab" data-name="link"><i class="icon -link"></i>Link</button>
      </div>
      <div class="post-input-box">
        <div id="post" data-name="post">
        <%= form_with(model: @post, local: true, :class => 'post-form') do |form| %>
          <%= form.file_field :image %>

          <%= form.text_field :title, :class => 'title', :placeholder => 'Title' %>
          <%= form.text_area :body, :class => 'body', :placeholder => 'Text (Optional)' %>
          <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.submit "Post", :class => 'submit' %>
        <% end %>
        </div>
        <div id="post" data-name="image">

        </div>
        <div id="post" data-name="link">

        </div>

      </div>
    </div>

  </div>


  <aside class="sidebar-section">
    <section class="widget header">
      <h3>Home</h3>
      <p>Your personal Anchor frontpage. Come here to check in with your favorite communities.</p>
      <%= link_to 'Create Post', new_post_path, :class => "button" %>
    </section>
  </aside>
</div>
