<%= render 'header/header' %>

<!-- <%= render 'form', post: @post %> -->
<!-- <%= link_to 'Back', posts_path %> -->

<div class="posts-container -show">
  <div class="content">
    <div class="post-article -create-post">
      <div class="tabbed-links">
        <button class="tab -selected" data-name="post"><i class="icon -post"></i>Post</button>
        <button class="tab" data-name="image"><i class="icon -image"></i>Image</button>
        <button class="tab" data-name="link"><i class="icon -link"></i>Link</button>
      </div>
      <div class="post-input-box">
        <div id="post" data-name="post">
        <%= form_with(model: @post, local: true, :class => 'post-form') do |form| %>
        <%= form.text_field :title, :class => 'title', :placeholder => 'Title' %>
        <%= form.text_area :body, :class => 'body', :placeholder => 'Text (Optional)' %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.submit "Post", :class => 'submit' %>
        <% end %>
        </div>
        <div id="post" class="_remove" data-name="image">
        <%= form_with(model: @post, local: true, :class => 'post-form') do |form| %>
        <%= form.text_field :title, :class => 'title', :placeholder => 'Title' %>
        <div class="upload-image-card">
          Drag and drop or<button class="button">upload</button>
        </div>
        <%= form.submit "Post", :class => 'submit' %>
        <% end %>
        </div>
        <div id="post" class="_remove" data-name="link">
          <%= form_with(model: @post, local: true, :class => 'post-form') do |form| %>
          <%= form.text_field :title, :class => 'title', :placeholder => 'Title' %>
          link
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <aside class="sidebar-section">
    <section class="widget">

      <ol class="guidelines">
        <h3 class="_medium-weight">Posting to Anchor</h3>
        <li class="rule">Remember the human.</li>
        <li class="rule">Behave like you would in real life.</li>
        <li class="rule">Look for the original source of the content.</li>
        <li class="rule">Search for duplicates before posting.</li>
        <li class="rule">Read the community's rules</li>
      </ol>
    </section>
  </aside>
</div>
