<header class="nav-header">
  <div class="post-summary-bar">
    <span class="username">
      <span class="avatar"></span>
      u/<%= @post.user.user_name %>
    </span>
    <span class="title"><%= @post.title %></span>
    <span class="stats">
      <span><i class="upvote"></i>0</span>
      <span><i class="comment"></i><%= @post.comments.count %></span>
    </span>
  </div>
  <div class="controls-bar">
    <button class="button">
      <i class="next"></i>
      <span class="text">Next Post</span>
      <span class="key">N</span>
    </button>
    <%= link_to '/', :class => "button" do %>
      <i class="close"></i>
      <span class="text">Close</span>
      <span class="key">ESC</span>
    <% end %>
  </div>
</header>

<div class="posts-container -show">
  <div class="content">
    <div class="post-article">
      <div class="vote-box">
        <div class="box">
          <i class="up vote"></i>
          <%= form_with model:@post, local: true do |f| %>
            <%= f.hidden_field :user, value: current_user %>
            <%= f.hidden_field :post, value: @post %>
            <%= f.submit 'Upvote', class: 'upvote-submit' %>
          <% end %>
          <div class="count"><%= @post.vote_score %></div>
          <i class="down vote"></i>
        </div>
      </div>
      <div class="post-details">
        <p class="author">Posted by u/<%= @post.user.user_name %> <%= time_ago_in_words(@post.created_at) %> ago</p>
        <h3 class="title"><%= @post.title %></h2>
        <p class="excerpt">
          <% if !@post.image.blank? %>
            <img src='<%= @post.image %>' width=100% />
          <% end %>
          <%= @post.body %>
        </p>
        <div class="permalinks">
          <div class="button _default-cursor">
            <i class="comments"></i>
            <%= @post.comments.count %> Comments
          </div>
          <div class="button -index">
            <i class="share"></i>
            Share
          </div>
          <% if @post.user == current_user %>
          <!-- Modify Delete Post -->
            <%= link_to post_path(@post), method: 'delete', :class => 'button -index' do %>
              <i class="delete"></i>
              Delete
            <% end %>
          <% end %>
        </div>
          <% if current_user %>
          <div class="comment-text-area">
            <%= form_with model:[@post, Comment.new], local: true do |f| %>
              <%= f.text_area :body, :class => 'textarea', placeholder: "What are your thoughts?" %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :post_id, value: @post.id %>
              <%= f.submit "Comment" %>
            <% end %>
            </div>
          <% end %>
      </div>
      <div class="comments-section">
        <%= render(partial: 'comments/comment', collection: @post.comments) %>
      </div>
    </div>

  </div>


  <aside class="sidebar-section">
    <section class="widget banner">
      <h3>Home</h3>
      <p>Your personal Anchor frontpage. Come here to check in with your favorite communities.</p>
      <%= link_to 'Create Post', new_post_path, :class => "button" %>
    </section>
  </aside>
</div>
