<header class="nav-header">
  <div class="title">
    <%= @post.title %>
  </div>
</header>

<div class="posts-container -show">
  <div class="content">
    <div class="post-article">
      <div class="vote">
        <i class="arrow up"></i>
        <div class="count">100</div>
        <i class="arrow down"></i>
      </div>
      <div class="post-details">
        <p class="author">Posted by u/<%= @post.user.user_name %> at <%= @post.created_at %></p>
        <h3 class="title"><%= @post.title %></h2>
        <p class="excerpt"><%= @post.body %></p>
        <div class="permalinks">
          <div class="button -index">
            <i class="comments"></i>
            Comments
          </div>
          <div class="button -index">
            <i class="share"></i>
            Share
          </div>
        </div>
      </div>
      <div class="comments-section">
        <!-- Comment text area goes here -->
        <div class="comment-box">
          <div class="vote-box">
            <div class="box">
              <i class="up"></i>
              <i class="down"></i>
            </div>
            <div class="line"></div>
          </div>
          <div class="comment-details">
            <p class="commenter">
              <span class="username">Username</span>
              <span class="points">3 points</span>
              <span class="date">3 hours ago</span>
            </p>
            <p class="body">
              <p>This is a sample comment</p>
            </p>
            <div class="permalinks">
              <div class="button -comment">
                <i class="comments -reply"></i>
                <span>Reply</span>
              </div>
            </div>

            <%= render 'comment' %>
            
          </div>
        </div>
      </div>
    </div>

  </div>

  <aside class="sidebar-section">
    <section class="widget header">
      <h3>Home</h3>
      <p>Your personal Anchor frontpage. Come here to check in with your favorite communities.</p>
      <%= link_to 'Create Post', new_post_path, :class => "button" %>
    </section>
  </aside>
</div>
