<header class="nav-header">
  <div class="post-summary-bar">
    <span class="username">
      <span class="avatar"></span>
      u/<%= @post.user.user_name %>
    </span>
    <span class="title"><%= @post.title %></span>
    <span class="stats">
      <span><i class="upvote"></i>0</span>
      <span><i class="comment"></i>0</span>
    </span>
  </div>
  <div class="controls-bar">
    <button class="button">
      <i class="next"></i>
      <span class="text">Next Post</span>
      <span class="key">N</span>
    </button>
    <%= link_to '/', :class => "button" do %>
      <i class="close"></i>
      <span class="text">Close</span>
      <span class="key">ESC</span>
    <% end %>
  </div>
</header>

<div class="posts-container -show">
  <div class="content">
    <div class="post-article">
      <div class="vote-box">
        <div class="box">
          <i class="up"></i>
          <div class="count">3.1k</div>
          <i class="down"></i>
        </div>
      </div>
      <div class="post-details">
        <p class="author">Posted by u/<%= @post.user.user_name %> at <%= @post.created_at %></p>
        <h3 class="title"><%= @post.title %></h2>
        <p class="excerpt"><%= @post.body %></p>
        <div class="permalinks">
          <div class="button _default-cursor">
            <i class="comments"></i>
            Comments
          </div>
          <div class="button -index">
            <i class="share"></i>
            Share
          </div>
        </div>
      </div>
      <div class="comments-section">
        <!-- Comment text area goes here -->
        <div class="comment-box">
          <div class="vote-box">
            <div class="box">
              <i class="up"></i>
              <i class="down"></i>
            </div>
            <div class="line"></div>
          </div>
          <div class="comment-details">
            <p class="commenter">
              <span class="username">Username</span>
              <span class="points">3 points</span>
              <span class="date">3 hours ago</span>
            </p>
            <p class="body">
              <p>This is a sample comment</p>
            </p>
            <div class="permalinks">
              <div class="button -comment">
                <i class="comments -reply"></i>
                <span>Reply</span>
              </div>
            </div>

            <%= render 'nested-comment' %>

          </div>
        </div>
      </div>
    </div>

  </div>

  <div>
  <% if current_user %>
    <%= form_for [@post, Comment.new] do |f| %>
      <%= f.text_area :body, placeholder: "Add a comment" %><br/>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :post_id, value: @post.id %>
        <%= f.submit "Add Comment" %>
    <% end %>
  <% end %>
    <ul>
      <%= render(partial: 'comments/comment', collection: @post.comments) %>
    </ul>
  </div>

  <aside class="sidebar-section">
    <section class="widget header">
      <h3>Home</h3>
      <p>Your personal Anchor frontpage. Come here to check in with your favorite communities.</p>
      <%= link_to 'Create Post', new_post_path, :class => "button" %>
    </section>
  </aside>
</div>
